 body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
 }

 * {
    margin: 0;
 }

 ul {
    list-style-type: none;
 }

 a {
    text-decoration: none;
    color: #E5E7EB;
 }

 .hContainer {
    height: 535px;
    background-color: #1f2937;
 }

 nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: #1f2937;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    padding-top: 20px;
 }

 .navList {
    display: flex;
    gap: 30px;
    color: #E5E7EB;
    font-size: 20px;
 }

 nav > h2 {
    color: #F9FAF8;
    font-size: 26px;
 }

 .hText {
    position: relative;
    top: 120px;
    left: 225px;
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 8px;
 }

 .hText > h2 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
 }

 .hText > p {
    color: #E5E7EB;
    font-size: 18px;
 }

 .sButton {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    width: 130px;
    padding: 8px;
    margin-top: 8px;
 }   

 .hImage {
    position: relative;
    bottom: 110px;
    left: 800px;
    height: 240px;
    width: 530px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    font-size: 18px;
 }

 .mContainer {
    border: solid 2px red;
    height: 495px;
 }

  .mContainer > h2 {
    display: flex;
    justify-content: center;
    font-weight: bold;

    padding: 50px;
  }

  .mImages {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .mImages > li {
    position: relative;
    height: 200px;
    width: 180px;
    border: 5px solid #3882F6;
    border-radius: 15px;
  }

  .imageCaption {
    display: flex;
    justify-content: center;
    gap: 80px;
  }

 .rContainer {
    border: solid 2px blue;
    background-color: #E5E7EB;
    height: 425px;
 }

 .suContainer {
    border: solid 2px purple;
    height: 345px;
 }

 footer {
    background-color: #1f2937;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 footer > p {
    color: #F9FAF8;
    font-size: 20px;
 }